header {
    margin-top: 3%;
    color: #172429;
}

.home-link {
    text-decoration: none;
}

.home-link:visited {
    color: #172429;
}

body {
    background-color: #DEF1F1;
}

.block {
    /*margin-left: 20%;
    margin-right: 20%;*/
    margin-left: 325px;
    margin-right: 325px;
}

.menu-bar {
    background-color: #2B7977;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 50px;
}

.menu-item {
    margin-left: 3%;
}

.menu-item .button {
    color: #FEFFFF;
    background-color: #2B7977;
    border: none;
    text-align: center;
    padding: 15.5px;
    text-decoration: none;
}

.menu-item .button:hover {
    background-color: #39AEA9;
}

.body-container {
    display: flex;
    background-color: #39AEA9;
    height: 500px;
}
